.HomePage {
  text-align: center;

  .Clock {
    margin-top: min(300px, 36vh);
    font-family: Consolas, monospace;
    font-size: 225%;
    color: #c1c1c1;
  }
  .Date {
    font-family: Consolas, monospace;
    color: #c1c1c1;
  }
}
